/*
	Paleta de Colores
		Azules
		7194AB
		46728E
		2B5876
		174461
		062C45
		2456BD
		Morados

*/

/* Gradientes
	 background: linear-gradient(90deg, #2193b0 , #53BED7);
	 background: linear-gradient(90deg, #cc2b5e, #753a88);
	 background: linear-gradient(90deg, #9197A2, #2c3e50);
	 mc background: linear-gradient(90deg, #42275a, #734b6d);
	 background: linear-gradient(90deg, #97c93e, #2EAB11);
	 Cool background: linear-gradient(90deg, #614385, #516395);
	 background: linear-gradient(90deg, #02aab0, #00cdac);
	 background: linear-gradient(90deg, #000428 , #004e92);
	 bc background: linear-gradient(90deg, #43cea2, #185a9d);
	 col background: linear-gradient(90deg, #4568dc , #b06ab3);
	 background: linear-gradient(90deg, #ffd89b, #19547b);
	 background: linear-gradient(90deg, #141e30  , #243b55 );
	 cool background: linear-gradient(90deg, #2b5876   , #4e4376 );
*/
/* Defino todo el estilo de la barra de navegación, donde preciso:
 	Un degradado como color de fondo
 	El título de la empresa con su respectivo logo, su color y tamaño de letra
 	Los items de la bbara de navegación, su color y tamaño de letra
 	El hover de los dos elementos previos, es decir, el estilo que tomaran cuando se pase el mouse sobre ellos.
 	Distancia entre elementos de la barra de navegación.
*/
/* -------------NAVBAR----------------- */
  .navbar {
  	background: transparent !important;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    max-width: 100vw !important;
    max-height: 10vh;
    margin: 0 5vw;
    padding: 0;
  }
  #a_tag_nav_brand {
  	font-size: 4.5vh;
  	margin: 0;
  	color: orange;
  }
  #a_tag_nav_brand:hover {
  	color: #000;
  }
  #a_tag_nav_brand img{
    height: 8vh;
    width: auto;
  }
  #a_tag_nav {
  	font-size: 3vh;
  	color: black;
  }
  #a_tag_nav:hover {
  	color: black;
  }
  .navbar-toggler {
    margin: 0;
    border-color: #DE7208 !important;

  }
  .fas {
    color: orange;
  }
  .fa-bars {
    font-size: 2rem;
    opacity: 0.3;
    color: black;
  }
  #a_tag_nav {
    text-align: left;
  }
.nav-item {
  background-color: white;
}

/* -------------HOME----------------- */
  .mapa {
    width: 100vw;
    height: 100vh;
  }
  .mapa img {
    width: inherit;
    height: inherit;
  }
  #home {
    position: relative;
  }
  #home .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 5vw;
    padding: 0;
  }

  .home-content {
    height: 40vh;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 10vh 0 5vh 0;
  }
  .home-important-info {
    height: 40vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 0;
  }

/* Defino los estilos del Carousel, donde preciso:
	Color naranja para los indicadores y controladores de elemento desplegado por el Carousel.
	El tamaño de las imágenes y que estas se escalen al tamaño de pantalla.
	El tamaño y color de letra de los párrafos y títulos presentes
*/

.carousel-indicators li {
	background-color: orange;
}
.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFA500' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFA500' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-inner h5 {
	font-size: 5vw;
	color: white;
}
.carousel-inner p {
	font-size: 2vw;
	color: black;
	font-weight: bold;
}
.carousel-item img {
	width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* En la sección del Footer defino:
	El gradiente puesto como fondo.
	El color y tamaño de los logos puestos.
	El comportamiento al pasar el mouse sobre los logos, donde estos cambian de color.
*/
footer {
	background: linear-gradient(90deg, #614385, #516395);
}
.contact-content {
  color: white;
  font-size: 5vh;
  text-align: center;
}
.social-link {
	color: orange;
	font-size: 5vh;
}
.contact-logo {
	text-align: center;
}
.fab-footer:hover {
	color: white;
}
